.bg {
    background-image: url(./images/Microverse-Student-Project-1/Header\ bg@2x.png);
    display: flex;
    flex-direction: column;
    height: 626px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 80px;
}

.contact_form {
    border-radius: 80px 0 0;
    flex-direction: column;
    background: #6070ff;
    background-image: url("./images/contact\ formdesk.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.contact_form {
  border-radius: 80px 0 0;
  flex-direction: column;
  background: #6070ff;
  background-image: url("./images/contact\ formdesk.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.contact_form {
  border-radius: 80px 0 0;
  flex-direction: column;
  background: #6070ff;
  background-image: url("./images/contact\ formdesk.png");
  background-repeat: no-repeat;
  background-size: contain;
}


.contacts_cantain {
  padding-left: min(30%);
  padding-top: min(6%);
  padding-right: min(30%);
}

#fs-frm > ul {
  list-style: none;
  margin: 24px;
}

  .Sbtn {
    margin-left: min(37%);
    margin-right: min(45%);
  }